<br />
<div class="center">
  <div class="container">
    <ul class="list-inline">
      <li>
        <a href="mailto:mikekistler@microsoft.com" title="Email me">
          <span class="fa-stack fa-lg">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <li>
        <a href="https://github.com/mikekistler" title="GitHub">
          <span class="fa-stack fa-lg">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-github fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <li>
        <a href="https://linkedin.com/in/mikekistler" title="LinkedIn">
          <span class="fa-stack fa-lg">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>

      <li>
        <a rel="me" href="https://mastodon.social/@mikekistler" title="Mastodon">
          <span class="fa-stack fa-lg">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-mastodon fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/mkistler82" title="Twitter">
          <span class="fa-stack fa-lg">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <li>
        <a href="/index.xml" title="RSS">
          <span class="fa-stack fa-lg">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-rss fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
    </ul>
  </div>
</div>
